# 📦 Required Python Version:
# This setup is tested with Python 3.9 or 3.10

transformers==4.39.3
peft==0.10.0
datasets==2.19.1
evaluate==0.4.1
torch==2.3.0
langgraph==0.0.39
matplotlib==3.8.4
accelerate==0.27.2
importlib-metadata
